<footer class="site-footer">
    <div class="container">
        <div class="column-five-twelfths">
            <div class="footer__contact" id="contact">
                <h2>Contact me</h2>
                <p><script type="text/javascript">eval(unescape("%72%74%75%6a%7a%36%30%3d%5b%27%25%37%34%25%36%66%25%36%64%27%2c%5b%27%25%37%35%25%36%62%27%2c%27%25%36%33%25%36%66%27%2c%27%25%37%34%25%36%66%25%36%64%25%37%37%25%37%32%25%36%39%25%36%37%25%36%38%25%37%34%25%37%30%25%37%34%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%66%76%62%70%71%34%38%3d%75%6e%65%73%63%61%70%65%28%72%74%75%6a%7a%36%30%29%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%66%76%62%70%71%34%38%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%72%74%75%6a%7a%36%30%29%29%3b"));</script>
                </p>
                <p>07983 342365</p>
            </div>
        </div>
        <div class="column-seven-twelfths">
            <div class="site-footer__social site-social">
                 <a href="http://twitter.com/tomwrightpt" class="social__link social__link--twitter">Twitter</a>
            <a href="http://facebook.com/tomwrightpersonaltraining" class="social__link social__link--facebook">Facebook</a>
            </div>
        </div>
    </div>
</footer>

<div class="credits">
  <div class="container">
    <p>Site by <a href="http://mynameismartin.com">Martin Wright</a>. Header photo by <a href="https://www.flickr.com/photos/lattefarsan/10538489333/">Patrik Nygren</a>. Icons from the <a href="https://thenounproject.com">Noun Project</a> &ndash; <a href="https://thenounproject.com/term/whistle/25035/">Whistle</a> by Erik Wagner, and <a href="https://thenounproject.com/term/stopwatch/839">Stopwatch</a> by Scott Lewis</p>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10016201-9', 'auto');
  ga('send', 'pageview');

</script>
