.hero {
    background-color: darken($colour_blue, 5%);
    background-image: url('../assets/img/bg-small.jpg');
    @media (min-width: $medium_screen) {
      background-image: url('../assets/img/bg.jpg');
    }
    background-size: cover;
    background-repeat:  no-repeat;;
    text-align: left;
    background-position: top right;
    h1 {
        letter-spacing: -2px;
        max-width: 10em;
        font-size: 2.7em;
        line-height: 1em;
        @media (min-width: $medium_screen) {
            letter-spacing: -4px;
            font-size: 7em;
        }
    }
    p {
        font-size: 1.45em;
        opacity: 0.8;
        max-width: 27em;
        line-height: 1.25em;
        @media (min-width: $medium_screen) {
            line-height: 1.4em;
            font-size: 1.8em;
        }
    }
    .button {
        margin-bottom: 1em;
        width: 100%;
        @media (min-width: $medium_screen) {
          width: auto;
        }
    }
}

.about {
    @extend .dark-page-section;
}

.about__blurb {
    line-height: 1.5em;
    font-size: .888888889em;
}

.services {
    font-size: 0;
}

.service {
    font-size: 18px;
    p {
        line-height: 1.5em;
        font-size: .888888889em;
    }
}

.service-thumbnail {
    width: 100%;
    position: relative;
    padding: 2.5em 1em 1.5em;
    @media (min-width: $medium_screen) {
        padding: 2.5em 2em 1.5em;
    }
    h3 {
        font-size: 2em;
        line-height: 1.1em;
        letter-spacing: -1px;
        color: rgba(255,255,255,0.9);
    }
    a {
      text-decoration: underline;
    }
}

.service-thumbnail--coaching {
    background-color: darken($colour_blue, 15%);
}

.service-thumbnail--testing {
    background-color: $colour_orange;
}

.service-thumbnail--training {
    background-color: $colour_yellow;
    color: darken($colour_blue, 15%);
    h3 {
        color: darken($colour_blue, 15%);
    }
}

.service-icon {
    margin-bottom: 0.75em;
    fill: #fff;
}

.service-icon--weights {
    fill: darken($colour_blue, 15%);
}

.service-icon--coaching {
    position: relative;
    top: 10px;
}

.specialities-title {
    font-size: 0.777777778em;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    margin-bottom: 1em;
}

.qualification-unit {
    display: inline-block;
    vertical-align: top;
    @media (min-width: $medium_screen) {
      width: 44.880239521%;
      margin-right: 5.119760479%;
    }
    h4 {
        font-size: .888888889em;
        text-transform: uppercase;
    }
    p {
        color: lighten($colour-blue, 40%);
        font-size: 0.777777778em;
        line-height: 1.5em;
    }
    a {
        text-decoration: underline;
        color: lighten($colour-blue, 40%);
        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }
}

.qualification-unit--large {
    width: 100%;
    margin: 0;
}
