.site-footer {
    @extend %page-section;
    @include clearfix;
    background-color: $colour_white;
    color: #444;
    .container {
        @media (min-width: $medium_screen) {
            padding:  0 2em;
            position: relative;
        }
    }
    a {
        color: $colour_blue;
        &:hover,
        &:active,
        &:focus {
            text-decoration: underline;
        }
    }
    h2 {
        font-size: 1.2em;
    }
    p {
        margin-bottom: 0.5em;
    }
}

div.site-footer__social {
    text-align: left;
}

.credits {
  padding: 1em 0;
  font-size: 0.75em;
  color: #CCC;
  width: 100%;
  p {
    margin: 0;
  }
}
