.site-header {
    background-color: $colour_white;
    color: $colour_black;
    padding: 1em 0 0;
    text-align: center;
    @include clearfix;
    .container {
        @media (min-width: $medium_screen) {
            padding:  0 2em;
            position: relative;
        }
    }
}

.site-header__logo {
    margin: 0 auto 1em;
    @extend .image-replacement;
    height: 70px;
    width: 231px;
    background-size: 231px 70px;
    background-image: url('../assets/img/tom-wright-logo.svg');
    background-position: top left;
    background-repeat: no-repeat;
    @media (min-width: $medium_screen) {
        margin: 1em 0 2em;
    }
}
